*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 40px;
    
}

#clock{
    border: 3px solid black;
    padding: 8px;
    background-color: blue;
    color: white;
}

body{
    background-image: linear-gradient(rgb(0, 0, 65), rgb(0, 0, 100), rgb(0, 0, 165), rgb(11, 11, 243),rgb(60, 60, 240), rgb(100, 100, 243), rgb(134, 134, 241), rgb(177, 177, 243) );
}